### all ignore ###
/*
/.**

### not ignore ###
!/.asdfrc
!/.bin/
!/.bin/**
!/.bin.local
!/.config/
!/.config/alacritty/
!/.config/alacritty/alacritty.yml
!/.config/gh/
!/.config/gh/state.yml
!/.config/gh/config.yml
!/.config/git/
!/.config/git/ignore
!/.config/iterm2/
!/.config/iterm2/AppSupport
!/.config/lazygit
!/.config/lazygit/config.yml
!/.config/neofetch
!/.config/neofetch/**
!/.config/nvim/
!/.config/nvim/**
/.config/nvim/plugin/packer_compiled.lua
!/.ctags.d/
!/.ctags.d/config.ctags
!/.fzf.zsh
!/.github/
!/.github/**
!/.gitignore
!/.tmux.conf
!/.tmux/
!/.tmux/plugins/
!/.tmux/plugins/**
!/.tmux/log/
!/.vimrc
!/.vim/
!/.vim/**
!/.xvimrc
!/.zsh
!/.zsh/**
!/.zshrc
!/.zshrc.lazy
!/.zshenv

!/.Brewfile
!/.Masfile

!/LICENSE
!/Makefile
!/README.md
