### all ignore ###
/*
/.**

### not ignore ###
!/.bin/
!/.bin/**
!/.bin.local
!/.config/
!/.config/alacritty/
!/.config/alacritty/alacritty.yml
!/.config/anyenv/
!/.config/anyenv/anyenv-install/
!/.config/anyenv/anyenv-install/**
!/.config/gh/
!/.config/gh/state.yml
!/.config/gh/config.yml
!/.config/iterm2/
!/.config/iterm2/AppSupport
!/.config/lazygit
!/.config/lazygit/**
!/.config/neofetch
!/.config/neofetch/**
!/.config/nvim/
!/.config/nvim/**
!/.config/nvim/plugins/**
!/.config/wezterm/
!/.config/wezterm/wezterm.lua
!/.ctags.d/
!/.ctags.d/config.ctags
!/.fzf.zsh
!/.github/
!/.github/**
!/.gitignore
!/.gitignore_global
!/.gitkeep
!/.tmux.conf
!/.tmux/
!/.tmux/plugins/
!/.tmux/plugins/**
!/.tmux/log/
!/.vimrc
!/.vim/
!/.vim/**
!/.xvimrc
!/.zsh
!/.zsh/**
!/.zshrc
!/.zshenv

!/.Brewfile
!/.Masfile

!/LICENSE
!/Makefile
!/README.md
