[user]
  email = zafar.siddiqi@ritchiebros.com
	name = Zafar Siddiqi
[core]
	excludesfile = /Users/mzs/.gitignore_global
	editor = lvim
[alias]
	ci = commit
	st = status
	br = branch
	co = checkout
[merge]
	ff = false
[pull]
	rebase = true
	prune = true
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[ghq]
	root = ~/src
