[user]
  email = zsiddiqi@ritchiebros.com
  name = Zafar Siddiqi
[core]
  excludesfile = /Users/mzs/.gitignore_global
  editor = lvim
	autocrlf = input
[alias]
  ci = commit
  st = status
  br = branch
  co = checkout
[merge]
  ff = false
[pull]
  rebase = true
  prune = true
[push]
  autoSetupRemote = true
[rebase]
  autoStash = true
[fetch]
  prune = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = main
[ghq]
  root = ~/src
[url "ssh://rb.github.com/"]
	insteadOf = ssh://github.com/
